{% extends 'main_app/base.html' %}
{% block content %}

<div class="max-w-3xl mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-6 text-white">Quiz</h1>

    <form method="post" action="{% url 'quiz' %}">
        {% csrf_token %}
        {% for question in quiz_questions %}
            <div class="mb-8 bg-white bg-opacity-20 shadow-lg rounded-lg overflow-hidden">
                <div class="bg-blue-600 bg-opacity-50 text-white py-4 px-6">
                    <h2 class="text-xl font-semibold">Question {{ forloop.counter }}</h2>
                </div>
                <div class="p-6">
                    <p class="text-lg mb-4 text-white">{{ question.question }}</p>
                    <input type="hidden" name="question_{{ forloop.counter0 }}" value="{{ question.question }}">
                    {% for option in question.options %}
                        <div class="mb-2">
                            <label class="inline-flex items-center text-white">
                                <input type="radio" class="form-radio text-blue-600" name="answer_{{ forloop.parentloop.counter0 }}" value="{{ option }}" required>
                                <span class="ml-2">{{ option }}</span>
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <button type="submit" class="mt-4 bg-green-600 bg-opacity-50 text-white px-6 py-2 rounded-md hover:bg-opacity-70 transition duration-300">
            Submit Answers
        </button>
    </form>
</div>

{% endblock %}